@page "/"

<PageTitle>Home</PageTitle>


<AuthorizeView>
    <Authorized>
        <p>Estas autenticado, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>
</AuthorizeView>
